.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 2;
}

.home-no-menu {
    display: none;
}

.menu-logo {
    display: none;
}

.nav-links img {
    width: 50%;
}

.menu-logo.visible {
    opacity: 1;
    pointer-events: auto;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:last-child {
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
}

.nav-links a {
    color: var(--cor-branca);
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--cor-secundaria);
}

@media (max-width: 1275px) {
    header nav ul li .btn-compliance {
        padding: 0;
    }
    .home-no-menu,
    .menu-icon,
    .menu-logo {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -60%;
        width: 40%;
        height: 100vh;
        background-color: var(--cor-terciaria);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 60px;
        transition: right 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-links .regular-only {
        display: none;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li:not(:last-child) {
        margin: 15px 0;
        border-bottom: 1px solid black;
        width: 80%;
        margin-left: 24px;
    }
}

@media (max-width: 600px) {
    .nav-links {
        right: -100%;
        width: 100%;
        height: 100vh;
    }
}