* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-size: 16px;
    font-family: var(--fonte-primaria);
    line-height: 1.6;
    background-color: var(--cor-branca);
    color: #333;
}

.container {
    margin: 0 auto;
}

button {
    font-family: var(--fonte-primaria), sans-serif;
}