* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: var(--fonte-primaria);
    line-height: 1.6;
    background-color: var(--cor-primaria);
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    font-family: var(--fonte-primaria), sans-serif;
}