@media (max-width: 1080px) {
    .hero-content h1 {
        font-size: 3.75rem;
        line-height: 4.5rem;
    }

    #quem-somos h2 {
        width: 90%;
    }

    #quem-somos .equipe {
        width: 69%;
    }

    .destaque p {
        width: 70%;
    }

    footer .logo-footer img {
        width: 60%;
    }

    .entre-em-contato-esquerda-heading {
        font-size: 1.8rem;
    }

    .entre-em-contato-label {
        font-size: 1.5rem;
    }

    .entre-em-contato-valor {
        max-width: 17ch;
    }
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    header .container .logo img {
        width: 50%;
    }

    .hero-content h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    #quem-somos .equipe {
        width: 80%;
    }

    #quem-somos .content {
        flex-direction: column;
    }

    #quem-somos h2 {
        width: 70%;
        font-size: 2rem;
        line-height: 3rem;
    }

    .destaque h2 {
        font-size: 3rem;
        width: 100%;
    }

    .destaque p {
        font-size: 1rem;
        width: 60%;
    }

    #servicos .esquerda,
    #servicos .direita {
        flex-direction: column;
        gap: 30px;
    }

    #servicos .esquerda .conteudo-esquerda,
    #servicos .direita .conteudo-direita {
        flex-wrap: wrap;
    }

    #servicos img {
        width: 70%;
    }

    #principios h2 {
        font-size: 3.5rem;
    }

    #principios .legenda-principios {
        font-size: 0.8rem;
    }

    #principios .principios-list {
        flex-direction: column;
        gap: 30px;
    }

    #principios .principios-list div {
        width: 100%;
    }

    .final-content h2 {
        font-size: 1.8rem;
    }

    .parceiros img {
        width: 100px;
    }

    footer .logo-footer img {
        width: 40%;
    }

    footer .social-media {
        gap: 15px;
    }

    footer .social-media .social-icons .icone {
        font-size: 1.3rem;
    }

    footer .container-externo-social {
        gap: 5%;
    }

    .entre-em-contato {
        flex-direction: column;
    }

    .entre-em-contato-direita {
        border-radius: 0px 0px 8px 8px;
    }

    .entre-em-contato-esquerda {
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 0px 0px;
    }

    .entre-em-contato-esquerda-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .entre-em-contato-label {
        text-align: center;
    }

    .entre-em-contato-valor {
        max-width: 100%;
        text-align: center;
    }

}

@media (max-width:700px) {
    .final-content button {
        margin-top: -70px;
        font-size: 1rem;
    }
}

@media (max-width:620px) {
    .entre-em-contato {
        width: 80%;
    }

    .entre-em-contato-container {
        width: 100vw;
        height: 100vh;
    }

}

@media (max-width:500px) {
    .final-content button {
        padding: 10px 20px;
        margin-top: -50px;
        font-size: 0.75rem;
    }
}

@media (max-width:455px) {
    .hero-content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .destaque h2 {
        font-size: 2.3rem;
        width: 100%;
    }

    .destaque p {
        width: 80%;
    }

    #servicos img {
        width: 100%;
    }

    #servicos .numeros {
        width: 80%;
        min-width: 85px;
        max-width: 85px;
        max-height: 85px;
        min-height: 85px;
    }

    #servicos h4 {
        font-size: 2.5rem;
    }

    #principios h2 {
        font-size: 3rem;
    }

    .final-content button {
        margin-top: -40px;
        padding: 10px 30px;
        font-size: 0.5rem;
    }

    footer .logo-footer img {
        width: 50%;
    }

    footer .social-media {
        display: flex;
        gap: 15px;
    }

    footer .social-media .social-icons .icone {
        font-size: 1.2rem;
    }


    footer p {
        font-size: 0.6rem;
    }

    .entre-em-contato-valor {
        font-size: 1.2rem;
    }

    .botao-wpp {
        padding: 5px 12px;
        font-size: 1.25rem;
    }
}

@media (max-width:375px) {
    footer .logo-footer img {
        width: 60%;
    }

    #principios h2 {
        font-size: 2.75rem;
    }

}

@media (max-width:345px) {
    .hero-content h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .hero-content button {
        padding: 11px 16px;
    }

    #quem-somos h2 {
        font-size: 2rem;
        line-height: 3rem;
        width: 100%;
    }

    #quem-somos .equipe {
        width: 100%;
    }

    .destaque h2 {
        font-size: 2rem;
    }

    .destaque p {
        font-size: 0.8rem;
    }

    #servicos .esquerda .conteudo-esquerda .titulo-esquerda h4,
    #servicos .direita .conteudo-direita .titulo-direita h4 {
        gap: 10px;
        font-size: 2rem;
        margin: 20px 0;
        align-self: center;
    }

    #principios h2 {
        font-size: 2.25rem;
    }

    .final-content button {
        padding: 5px 15px;
    }

    footer .container-footer {
        flex-direction: column;
    }

    footer .logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    footer .logo-footer img {
        width: 40%;
    }

    footer .container-interno {
        justify-content: center;
        margin-left: 0;
    }

    footer .social-media {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer .direitos-reservados {
        border-left: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        padding: 4%;
        align-items: center;
    }

    footer .menu-footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-footer {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-footer li {
        flex: 1 1 calc(50% - 10px);
        aspect-ratio: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}