/* Header */
header {
  background: transparent;
  color: var(--cor-primaria);
  padding: 10px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.3s ease;
}

header.scrolled {
  background: var(--cor-terciaria);
}

header .container {
  display: flex;
  text-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  overflow: hidden;
}

header .logo {
  margin-top: 13px;
}

header .logo img {
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

header nav ul li a {
  color: var(--cor-primaria);
  font-family: var(--fonte-primaria), sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}

header nav ul li .btn-compliance {
  background: var(--cor-terciaria);
  color: var(--cor-primaria);
  padding: 8px 15px;
  border-radius: 20px;
  transition: background 0.3s;
}

header nav ul li .btn-compliance:hover {
  background: #184132;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--cor-primaria);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--cor-primaria);
  width: 80%;
}

.hero-content h1 {
  font-family: var(--fonte-primaria), sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 2%;
}

.hero-content button {
  background: var(--cor-secundaria);
  color: var(--cor-primaria);
  border: none;
  padding: 22px 32px;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 30px;
  transition: background 0.3s;
}

.hero-content button:hover {
  background: #db8052;
}

/* Parceiros */
.parceiros {
  background: var(--cor-terciaria);
  padding: 20px 0;
  text-align: center;
}

.parceiros .slide-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parceiros img {
  max-width: 80%;
  transition: filter 0.3s;
  object-fit: contain;
}

/* animacao */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-track {
  display: flex;
  width: calc(250px * 12);
  animation: scroll 15s linear infinite;
}

.slide {
  width: 250px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 6));
  }
}

/* Quem Somos */
#quem-somos .container {
  padding: 80px 20px;
  text-align: center;
}

#quem-somos h2 {
  font-family: var(--fonte-primaria), sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: var(--cor-terciaria);
  line-height: 5rem;
  width: 80%;
  margin: 0 auto;
}


.highlight {
  color: var(--cor-secundaria);
}

#quem-somos .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 40px;
  padding: 0 15%;
}

#quem-somos .equipe {
  width: 50%;
  border-radius: 10px;
}

#quem-somos p {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--cor-texto);
  font-family: var(--fonte-secundaria);
}

#quem-somos .coluna {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#quem-somos .coluna .seta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  min-width: 270px;
}

.seta-imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

#quem-somos .seta a {
  text-decoration: none;
  color: var(--cor-terciaria);
}

/* Destaque */
.destaque {
  background: var(--cor-terciaria);
  color: var(--cor-primaria);
  padding: 10% 0;
  text-align: center;
}

.destaque h2 {
  font-family: var(--fonte-primaria), sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 auto;
}

.destaque p {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  margin-top: 1.5rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.colapsavel {
  display: none;
}

#servicos img {
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}

#servicos h4 {
  color: var(--cor-terciaria);
  font-size: 3rem;
}

#servicos p {
  font-family: var(--fonte-secundaria);
}

#servicos .esquerda,
#servicos .direita {
  padding: 5% 5%;
  margin: 5% auto;
}

#servicos .titulo-esquerda,
#servicos .titulo-direita {
  width: 100%;
}

#servicos .esquerda .conteudo-esquerda .titulo-esquerda,
#servicos .direita .conteudo-direita .titulo-direita {
  margin-bottom: 5%;
}

#servicos .esquerda {
  background-color: var(--cor-branca);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#servicos .esquerda .conteudo-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#servicos .esquerda .conteudo-esquerda .titulo-esquerda {
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 3rem;
}

#servicos .numeros {
  display: flex;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-secundaria);
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

#servicos .direita {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#servicos .direita .conteudo-direita {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#servicos .direita .conteudo-direita .titulo-direita {
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 3rem;
}

/* Princípios */
#principios {
  background: var(--cor-terciaria);
  color: var(--cor-primaria);
  padding: 80px 20px;
  text-align: center;
}

#principios h2 {
  font-family: var(--fonte-primaria), sans-serif;
  font-size: 5rem;
  margin-bottom: 30px;
  font-weight: 300;
}

#principios p {
  font-size: 1.1rem;
  margin-bottom: 40px;
  font-family: var(--fonte-secundaria);
}

#principios .principios-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#principios .principios-list div {
  padding: 0 30px;
  background: #163b2d;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#principios h3 {
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria), sans-serif;
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: 300;
}

/* Seção Final */
.final {
  position: relative;
  text-align: center;
  color: var(--cor-terciaria);
}

.final .background-final {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container-final {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  text-align: center;
}

.final-content {
  width: 100%;
  background: var(--cor-branca);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.final-content .banner-final {
  width: 80%;
}

.final-content button {
  background: var(--cor-terciaria);
  border: none;
  margin-top: -100px;
  padding: 15px 40px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 30px;
  transition: background 0.3s;
}

.final-content button a {
  color: var(--cor-primaria);
}

.final-content button:hover {
  background: #163b2d;
}

/* Footer */
footer {
  background: var(--cor-terciaria);
  color: var(--cor-primaria);
  display: flex;
}

footer nav ul li a {
  color: var(--cor-primaria);
  font-size: 1rem;
}

footer .logo-footer img {
  width: 60%;
}

footer .container-footer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin: 0 5%;
}

footer .container-externo-social {
  display: flex;
  flex-direction: column;
  gap: 15%;
  margin: 5% 0;
}

footer .social-media {
  display: flex;
  gap: 35px;
}

footer .container-interno {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

footer .social-media .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

footer .social-media .social-icons .icone {
  font-size: 2rem;
}

footer .direitos-reservados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 5% 10% 5% 3%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

footer .direitos-reservados p {
  color: var(--cor-extra);
  font-family: var(--fonte-secundaria);
}

footer .menu-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .social-media a {
  color: var(--cor-primaria);
}

footer p {
  font-size: 0.9rem;
}

footer a {
  color: var(--cor-secundaria);
}

.entre-em-contato-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  width: 80vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: var(--cor-terciaria);
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: none;
}

.entre-em-contato {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.entre-em-contato-esquerda {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5%;
}

.entre-em-contato-direita {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  width: 100%;
}

.entre-em-contato-esquerda-heading {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
}

.entre-em-contato-direita-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5%;
  color: #FFFFFF99;
  border: 15px solid var(--cor-secundaria);
}

.entre-em-contato-esquerda {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--cor-terciaria);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 5%;
  color: #FFFFFF99;
}

.entre-em-contato-direita-heading {
  font: var(--fonte-primaria);
  color: var(--cor-primaria);
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.entre-em-contato-direita-texto {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-family: var(--fonte-secundaria);
  font-weight: 100;
}

.inputs-entre-em-contato {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: 100;
}

.inputs-entre-em-contato input {
  all: unset;
  border: 1px solid #FFFFFF99;
  border-radius: 4px;
  padding: 5px;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 8px 16px;
}

.inputs-entre-em-contato input::placeholder {
  font-size: 1rem;
}

#entrar-em-contato {
  all: unset;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 100px;
  background-color: var(--cor-secundaria);
  text-align: center;
  color: var(--cor-primaria);
}

.entre-em-contato-esquerda-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #253836;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5rem;
}

.entre-em-contato-label {
  color: #969F9E;
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  font-weight: 100;
}

.entre-em-contato-valor {
  color: var(--cor-primaria);
  word-wrap: break-word;
}

.entre-em-contato-esquerda-heading-primario {
  color: var(--cor-primaria);
  font-size: 3.5rem;
  margin-top: -20px;
}

.entre-em-contato-esquerda-heading-secundario {
  color: var(--cor-secundaria);
  font-size: 3.5rem;
}

.sublinhado {
  text-decoration: underline;
}

.nav-servicos {
  cursor: pointer;
}

.whatsapp {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  gap: 20px;
  font-family: var(--fonte-secundaria);
  color: #000;
  z-index: 1000;
}

.texto-wpp {
  display: none;
  padding: 5px 20px;
  background-color: var(--cor-primaria);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.texto-wpp::after {
  display: none;
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid var(--cor-primaria);
  z-index: 1;
}

.botao-wpp {
  padding: 5px 15px;
  background-color: #49E670;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 0.2s ease;
}

.botao-wpp a {
  color: #fff;
}

.whatsapp:hover .texto-wpp, .whatsapp:hover .texto-wpp::after  {
  display: block;
}