:root {
    --cor-primaria: #FAFAFA;
    --cor-secundaria: #E96F2C;
    --cor-terciaria: #1D4D3B;
    --cor-texto: #536160;
    --cor-branca: #FFFFFF;
    --cor-extra-footer: #969F9E;
}

:root {
    --fonte-primaria: 'Anton', sans-serif;
    --fonte-secundaria: "DM Sans", sans-serif;
}