@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --cor-primaria: #FAFAFA;
  --cor-secundaria: #E96F2C;
  --cor-terciaria: #1D4D3B;
  --cor-texto: #536160;
}
  
:root {
  --fonte-primaria: 'Anton', serif;
  --fonte-secundaria: "DM Sans", serif;
}

:root {
  --titulo-home: 104px;
  --tamanho-titulo: 72px;
  --tamanho-informacoes: 20px;
  --tamanho-titulo-secundario: 54px ;
  --tamanho-texto: 18px;
  --tamanho-copy: 14px;
  --altura-titulos: 106%;
  --espacamento-titulos: -2%;
}
  
body {
    font-family: var(--fonte-primaria), sans-serif;
}

.pagina {
  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.cor-terciaria {
  color: var(--cor-terciaria);
}

.cor-secundaria {
  color: var(--cor-secundaria);
}